.header
    background-color: #C9D9DA
    height: 100vh
    &__burger

    &__nav

    &__socials
        display: flex
        flex-direction: column
        position: absolute
        right: 0
        top: 83px
        margin-top: -28px

    &__avatar
        position: absolute
        left: 10%
        top: 10%
    &__text
        position: absolute
        bottom: 10%
        right: 15%
    &__title
        font-weight: 700
        font-size: 48px
        line-height: 56px
    &__subtitle
        font-weight: 500
        font-size: 36px
        line-height: 42px

.hero
    position: relative
    height: 83%
.container

.header-container
    align-items: center
    height: 110px


.justify-content-between

.logo-link

.logo-img


.nav
    &__list
        display: flex
        list-style: none
    &__item
        margin-right: 46px
        &:last-child
            margin-right: 0

    &__link
        text-decoration: none
        color: #212121
        font-size: 32px
        line-height: 38px
        font-weight: 400

.socials
    &__item
        margin-bottom: 26px
        &:last-child
            margin-bottom: 0


