*
    padding: 0
    margin: 0
body
    color: #212121
    background: #C9D9DA url('../img/bg.png') center no-repeat
    background-size: cover
    position: relative
    
body, input, button, a 
    font-family: 'Raleway', sans-serif
    color: #212121
a
    text-decoration: none

main
    height: 100vh
    margin-top: -110px

@import 'header'
@import 'works'
